
input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            layout "ch"
            options "grp:win_space_toggle,compose:menu-altgr"
        }
        numlock
    }
    
    touchpad {
        tap
        drag true
        drag-lock
        natural-scroll
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
        scroll-factor 0.5
    }

    mouse {
        accel-speed 0.2
        accel-profile "flat"
        middle-emulation
    }

    // Make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus
}

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "BOE 0x09E5 Unknown" { // Internal Screen
    mode "2560x1440@165.003"
    variable-refresh-rate
    scale 1.5
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "Stargate Technology iMac 5K demoset-1" { // iFeng
    mode "5120x2880@59.937"
    scale 2.25
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

output "Samsung Electric Company SAMSUNG 0x00000001" { // Samsung TV Livingroom
    mode "1920x1080@60.000"
    scale 1.5
    transform "normal"
    position x=-1280 y=0
}

output "MS Telematica XGIMI TV 0x00000001" { // XGIMI Beamer
    mode "2288x1430@61.015"
    scale 2
    transform "normal"
    position x=452 y=-715
}

output "HP Inc. HP Z24n G2 6CM8180H1M" { // FHNW Windisch Geb. 1, 3. Stock Bildschirm HP
    mode "1920x1200@74.939"
    scale 1.25
    transform "normal"
    position x=-1536 y=-300
}

output "HP Inc. HP Z24n G2 6CM8180H0W" { // FHNW Windisch Geb. 1, 3. Stock Bildschirm HP
    mode "1920x1200@74.939"
    scale 1.25
    transform "normal"
    position x=-1536 y=-300
}

output "HP Inc. HP Z24n G2 6CM8180H1C" { // FHNW Windisch Geb. 1, 3. Stock Bildschirm HP
    mode "1920x1200@74.939"
    scale 1.25
    transform "normal"
    position x=-1536 y=-300
}

output "HP Inc. HP Z24n G2 6CM8180H0T" { // FHNW Windisch Geb. 1, 3. Stock Bildschirm HP
    mode "1920x1200@74.939"
    scale 1.25
    transform "normal"
    position x=-1536 y=-300
}


layout {
    background-color "transparent"
    gaps 8
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.4
        proportion 0.5
        proportion 0.6
    }
    preset-window-heights {
        proportion 0.4
        proportion 0.5
        proportion 0.6
    }
    default-column-width { proportion 0.5; }
    focus-ring {
    off
        width 3
        active-gradient from="#6400af" to="#9200ff" angle=30
        inactive-gradient from="#4f4855" to="#38323d" angle=45 // relative-to="workspace-view"
    }
    border {
        active-gradient from="#6400af" to="#9200ff" angle=30
        inactive-gradient from="#22003c" to="#3b0069" angle=30 relative-to="workspace-view"
        urgent-color "#9b0000"
    }
}


// spawn-at-startup "waybar" // Bar
spawn-at-startup "wbg" "-s" "/home/alya/Pictures/Wallpaper.png"
spawn-at-startup "mako" // Notifications
spawn-at-startup "xwayland-satellite" // XWayland
spawn-at-startup "/home/alya/.config/niri/battery-low-warning.bash" // Low battery notification
spawn-at-startup "pasystray" // Audio
// spawn-at-startup "nm-applet" // Network
spawn-at-startup "bash" "-c" "sleep 1 && nm-applet"
// spawn-at-startup "blueman-applet" // Bluetooth
spawn-at-startup "bash" "-c" "sleep 2 && blueman-applet"
spawn-at-startup "system-config-printer-applet" // Printer
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent.service" // Polkit
spawn-at-startup "fcitx5"
spawn-at-startup "/home/alya/.local/opt/DavMail/davmail" // DavMail
// spawn-at-startup "bash" "-c" "sleep 3 && /opt/tuxedo-control-center/tuxedo-control-center --tray" // Tuxedo Control Center
// spawn-at-startup "bash" "-c" "sleep 5 && /usr/lib/protonmail/bridge/proton-bridge --no-window" // Proton Mail Bridge
spawn-at-startup "/mnt/fd/autorun.sh" // Autorun Floppy for kiosk
spawn-at-startup "bash" "-c" "sleep 1 && shimejictl summon alula" // shimeji
spawn-at-startup "bash" "-c" "sleep 2 && shimejictl summon calamus" // shimeji

prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d %H-%M-%S.png"


animations {
    slowdown 2.0
}


// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Steam
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// General rules:
window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    draw-border-with-background false
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// Screencast Viewer
window-rule {
    match app-id=r"org.mozilla.firefox"
    match title="View Screencast — Mozilla Firefox"
    open-maximized true
    block-out-from "screencast"
}

window-rule {
    match app-id=r"Waydroid"
    default-column-width { proportion 0.31640625; }
}

window-rule {
    match title="Windows 11 dGPU"
    open-fullscreen true
    default-column-width { proportion 1.777777778; }
    default-window-height { proportion 1.0; }
}

// doublecmd startup popup
window-rule {
    match app-id="doublecmd" title="^doublecmd$"
    open-floating true
    open-focused false
    opacity 0.0
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        off
    }
}

// doublecmd startup popup that has other title on serverpc for some reason????
window-rule {
    match app-id="doublecmd" title="^Double Commander$"
    open-floating true
    open-focused false
    opacity 0.0
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        off
    }
}

// honkers railway launcher
window-rule {
    match app-id="The Honkers Railway Launcher" title="^The Honkers Railway Launcher$"
    open-floating true
}

// an anime game launcher
window-rule {
    match app-id="An Anime Game Launcher" title="^An Anime Game Launcher$"
    open-floating true
}


binds {
    Mod+F1 allow-inhibiting=false { show-hotkey-overlay; }
    Mod+T allow-inhibiting=false hotkey-overlay-title="Open a Terminal" { spawn "alacritty"; }
    Mod+D allow-inhibiting=false hotkey-overlay-title="Run an Application" { spawn "fuzzel"; }
    Mod+E allow-inhibiting=false hotkey-overlay-title="Open File Manager" { spawn "nautilus" "-w"; }
    Mod+S allow-inhibiting=false hotkey-overlay-title="Open File Commander" { spawn "/home/alya/.local/opt/doublecmd/doublecmd"; }
    Mod+B allow-inhibiting=false hotkey-overlay-title="Open Web Browser" { spawn "firefox"; }
    Super+Alt+L allow-inhibiting=false hotkey-overlay-title="Lock the Screen" { spawn "bash" "-c" "niri msg action power-off-monitors && hyprlock"; }
    XF86AudioRaiseVolume  allow-when-locked=true allow-inhibiting=false { spawn "/home/alya/.config/niri/audio-volume.bash" "raise"; }
    XF86AudioLowerVolume  allow-when-locked=true allow-inhibiting=false { spawn "/home/alya/.config/niri/audio-volume.bash"; }
    XF86AudioMute         allow-when-locked=true allow-inhibiting=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true allow-inhibiting=false { spawn "/home/alya/.config/niri/screen-brightness.bash" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true allow-inhibiting=false { spawn "/home/alya/.config/niri/screen-brightness.bash"; }
    Mod+O allow-inhibiting=false repeat=false { toggle-overview; }
    Mod+Y allow-inhibiting=false repeat=false { toggle-overview; }
    Mod+Q allow-inhibiting=false { close-window; }
    Mod+Left allow-inhibiting=false { focus-column-left; }
    Mod+Down allow-inhibiting=false { focus-window-down; }
    Mod+Up allow-inhibiting=false { focus-window-up; }
    Mod+Right allow-inhibiting=false { focus-column-right; }
    Mod+H allow-inhibiting=false { focus-column-left; }
    Mod+J allow-inhibiting=false { focus-window-down; }
    Mod+K allow-inhibiting=false { focus-window-up; }
    Mod+L allow-inhibiting=false { focus-column-right; }
    Mod+Ctrl+Left allow-inhibiting=false { move-column-left; }
    Mod+Ctrl+Down allow-inhibiting=false { move-window-down; }
    Mod+Ctrl+Up allow-inhibiting=false { move-window-up; }
    Mod+Ctrl+Right allow-inhibiting=false { move-column-right; }
    Mod+Ctrl+H allow-inhibiting=false { move-column-left; }
    Mod+Ctrl+J allow-inhibiting=false { move-window-down; }
    Mod+Ctrl+K allow-inhibiting=false { move-window-up; }
    Mod+Ctrl+L allow-inhibiting=false { move-column-right; }
    Mod+Home allow-inhibiting=false { focus-column-first; }
    Mod+End allow-inhibiting=false { focus-column-last; }
    Mod+Ctrl+Home allow-inhibiting=false { move-column-to-first; }
    Mod+Ctrl+End allow-inhibiting=false { move-column-to-last; }
    Mod+Shift+Left allow-inhibiting=false { focus-monitor-left; }
    Mod+Shift+Down allow-inhibiting=false { focus-monitor-down; }
    Mod+Shift+Up allow-inhibiting=false { focus-monitor-up; }
    Mod+Shift+Right allow-inhibiting=false { focus-monitor-right; }
    Mod+Shift+H allow-inhibiting=false { focus-monitor-left; }
    Mod+Shift+J allow-inhibiting=false { focus-monitor-down; }
    Mod+Shift+K allow-inhibiting=false { focus-monitor-up; }
    Mod+Shift+L allow-inhibiting=false { focus-monitor-right; }
    Mod+Shift+Ctrl+Left allow-inhibiting=false { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down allow-inhibiting=false { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up allow-inhibiting=false { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right allow-inhibiting=false { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H allow-inhibiting=false { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J allow-inhibiting=false { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K allow-inhibiting=false { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L allow-inhibiting=false { move-column-to-monitor-right; }
    Mod+Page_Down allow-inhibiting=false { focus-workspace-down; }
    Mod+Page_Up allow-inhibiting=false { focus-workspace-up; }
    Mod+U allow-inhibiting=false { focus-workspace-down; }
    Mod+I allow-inhibiting=false { focus-workspace-up; }
    Mod+Ctrl+Page_Down allow-inhibiting=false { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up allow-inhibiting=false { move-column-to-workspace-up; }
    Mod+Ctrl+U allow-inhibiting=false { move-column-to-workspace-down; }
    Mod+Ctrl+I allow-inhibiting=false { move-column-to-workspace-up; }
    Mod+Shift+Page_Down allow-inhibiting=false { move-workspace-down; }
    Mod+Shift+Page_Up allow-inhibiting=false { move-workspace-up; }
    Mod+Shift+U allow-inhibiting=false { move-workspace-down; }
    Mod+Shift+I allow-inhibiting=false { move-workspace-up; }
   // Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
   // Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
   // Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
   // Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
   // Mod+WheelScrollRight      { focus-column-right; }
   // Mod+WheelScrollLeft       { focus-column-left; }
   // Mod+Ctrl+WheelScrollRight { move-column-right; }
   // Mod+Ctrl+WheelScrollLeft  { move-column-left; }
   // Mod+Shift+WheelScrollDown      { focus-column-right; }
   // Mod+Shift+WheelScrollUp        { focus-column-left; }
   // Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
   // Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }
    Mod+1 allow-inhibiting=false { focus-workspace 1; }
    Mod+2 allow-inhibiting=false { focus-workspace 2; }
    Mod+3 allow-inhibiting=false { focus-workspace 3; }
    Mod+4 allow-inhibiting=false { focus-workspace 4; }
    Mod+5 allow-inhibiting=false { focus-workspace 5; }
    Mod+6 allow-inhibiting=false { focus-workspace 6; }
    Mod+7 allow-inhibiting=false { focus-workspace 7; }
    Mod+8 allow-inhibiting=false{ focus-workspace 8; }
    Mod+9 allow-inhibiting=false { focus-workspace 9; }
    Mod+Ctrl+1 allow-inhibiting=false { move-column-to-workspace 1; }
    Mod+Ctrl+2 allow-inhibiting=false { move-column-to-workspace 2; }
    Mod+Ctrl+3 allow-inhibiting=false { move-column-to-workspace 3; }
    Mod+Ctrl+4 allow-inhibiting=false { move-column-to-workspace 4; }
    Mod+Ctrl+5 allow-inhibiting=false { move-column-to-workspace 5; }
    Mod+Ctrl+6 allow-inhibiting=false { move-column-to-workspace 6; }
    Mod+Ctrl+7 allow-inhibiting=false { move-column-to-workspace 7; }
    Mod+Ctrl+8 allow-inhibiting=false { move-column-to-workspace 8; }
    Mod+Ctrl+9 allow-inhibiting=false { move-column-to-workspace 9; }
    Mod+BracketLeft allow-inhibiting=false { consume-or-expel-window-left; }
    Mod+BracketRight allow-inhibiting=false { consume-or-expel-window-right; }
    Mod+Comma allow-inhibiting=false { consume-window-into-column; }
    Mod+Period allow-inhibiting=false { expel-window-from-column; }
    Mod+R allow-inhibiting=false { switch-preset-column-width; }
    Mod+Shift+R allow-inhibiting=false { switch-preset-window-height; }
    Mod+Ctrl+R allow-inhibiting=false { reset-window-height; }
    Mod+F allow-inhibiting=false { maximize-column; }
    Mod+Shift+F allow-inhibiting=false { fullscreen-window; }
    Mod+Ctrl+F allow-inhibiting=false { expand-column-to-available-width; }
    Mod+C allow-inhibiting=false { center-column; }
    Mod+Ctrl+C allow-inhibiting=false { center-visible-columns; }
    Mod+Alt+Left allow-inhibiting=false { set-column-width "-10%"; }
    Mod+Alt+Right allow-inhibiting=false { set-column-width "+10%"; }
    Mod+Alt+Up allow-inhibiting=false { set-window-height "-10%"; }
    Mod+Alt+Down allow-inhibiting=false { set-window-height "+10%"; }
    Mod+V allow-inhibiting=false { toggle-window-floating; }
    Mod+Shift+V allow-inhibiting=false { switch-focus-between-floating-and-tiling; }
    Mod+W allow-inhibiting=false { toggle-column-tabbed-display; }
    Alt+Print allow-inhibiting=false { screenshot; }
    Print allow-inhibiting=false { screenshot-screen; }
    Ctrl+Print allow-inhibiting=false { screenshot-window; }
    Mod+Escape hotkey-overlay-title="Toggle allow keyboard inhibit" allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E allow-inhibiting=false { quit; }
    Ctrl+Alt+Delete allow-inhibiting=false { quit; }
    Mod+Shift+P allow-inhibiting=false { power-off-monitors; }

    Mod+Shift+M allow-inhibiting=false { spawn "bash" "-c" "shimejictl dismiss"; }
    Mod+Ctrl+Shift+M allow-inhibiting=false { spawn "bash" "-c" "shimejictl stop"; }
    Mod+M allow-inhibiting=false { spawn "bash" "-c" "shimejictl summon alula"; }
    Mod+Shift+N allow-inhibiting=false { spawn "bash" "-c" "shimejictl dismiss"; }
    Mod+Ctrl+Shift+N allow-inhibiting=false { spawn "bash" "-c" "shimejictl stop"; }
    Mod+N allow-inhibiting=false { spawn "bash" "-c" "shimejictl summon calamus"; }

    Mod+F9 allow-inhibiting=false { spawn "bash" "-c" "/etc/nixos/hosts/tuxedo-sirius-16-gen2/maybe-trackpadfix.sh"; }
}



hotkey-overlay {
    skip-at-startup
}


layer-rule {
    match namespace="wbg"
    match at-startup=true
    match at-startup=false 
    place-within-backdrop true
}

// Block out notifications from screencast and capture
layer-rule {
    match namespace="^notifications$"
    block-out-from "screen-capture"
}

overview {
    workspace-shadow {
        off
    }
}


environment {
    DISPLAY ":0" // XWayland
    ELECTRON_OZONE_PLATFORM_HINT "auto" // Run Electron-based apps with Wayland
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORM "wayland;xcb"
}

// Laptop lid
switch-events {
    lid-close { spawn "bash" "-c" "niri msg action power-off-monitors && hyprlock"; }
    lid-open { spawn "bash" "-c" "niri msg action power-on-monitors"; }
}


cursor {
    xcursor-theme "phinger-cursors-dark-left"
    xcursor-size 32
}
